
.topnavigation #block_top_menu{
  display: none !important;
}


.topnavigation .row .widget #block_top_menu{
  display: block !important;
}
.panelbutton{
  display: none !important;
}
.panelcontent {
  display: none !important;
}

#cart .cart-quantity {
  background: #fc9610 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  padding: 6px 10px;
}

.popup-over .popup-title {
  background: #104189 none repeat scroll 0 0;
  border-radius: 3px;
  margin-bottom: 25px;
  padding: 6px 10px;
}

#slideshow {
  border-top: 3px solid #fc9610;
  position: relative;
}
.cart:hover{ 
	background-color: #fc9610 !important;
}
.functional-buttons:hover{
	background-color: #fc9610 !important;	
}
.widget .leomanagerwidgets .product-block:hover .functional-buttons {
  background: #fc9610 !important;
}
.widget .leomanagerwidgets .product-block:hover .functional-buttons {
  background: #fc9610 !important;
}
.label-new {
  background: #104189 none repeat scroll 0 0 !important;
  border: 3px solid #104189 !important;
}
.block .title_block {
	color: #104189 !important;
}

.block .title_block span {
  color: #fc9610;
  padding-left: 10px;
}
.ajax_cart_no_product{
	display: none !important;
}

#slideshow figcaption.color1::before {
  background-color:  transparent !important;
}
#slideshow figcaption.color2::before {
  background-color:  transparent !important;
}
#slideshow figcaption.color3::before {
  background-color:  transparent !important;
}
#slideshow figcaption .caption .caption-title {
  color: #fc9610 !important;
}

#slideshow figcaption .caption .caption-des {
	color: #104189 !important;
}
#slideshow figcaption .caption .linestar .fa{
	color: #df0606 !important; 
}
#slideshow figcaption .caption .linestar::before {
  background: #000 none repeat scroll 0 0 !important;
}
#slideshow figcaption::after {
  border: none !important;
}
.widget .products_block .nav-tabs{
	right: 20% !important;
}
.footer_logo a {
  background: transparent none repeat scroll 0 0 !important;
  display: inline-block;
}

#block_top_menu .sf-menu > li > a {
  color: #272727;
  font-family: "Verdana" !important;
  font-size: 12px !important;
  transition: left 0.4s ease-out 0s;
}

.sf-menu {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  height: 100%;
  left: 7px !important;
  padding: 0;
  position: relative;
  top: 8px !important;
  width: 100%;
  z-index: 100;
}

.sf-menu > li > ul > li > a {
  margin-bottom: 7px !important;
  font-size: 12px !important;
  font-family: "Verdana";
}
.sf-menu .submenu-container{
	top:73px !important;
}